*, *:after, *:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: lightgray;
    padding: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.card {
    max-width: 1100px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem;
    background-color: white;
    gap:1rem;
    border-radius: 10px;
}

.card .imgContainer {
    width: 100%;
    aspect-ratio: 4/2;
    background-color: lightgray;
    border: 1px solid gray;
    border-radius: 10px;
    height: auto;
}

.card .info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 0.5rem;
}

.card .subtitle {
    color: gray;
    font-size: 1.25rem;
}

.card .title {
    font-size: 1.5rem;
}

.info .text {
    font-size: 0.75rem;
    color: gray;
}

.buttons .chat {
    background-color: rgb(111, 63, 111);
    color: white;
    padding: 0.5rem;
    font-size: 0.75rem;
    border:none;
    border-radius: 5px;
}

.buttons {
    display: flex;
    gap:1rem;
    padding-top: 0.5rem
}

.buttons button {
    width: 30%;
    color: gray;
    padding: 0.5rem;
        font-size: 0.75rem;
    border:none;
    border-radius: 5px;
}

@media (min-width:600px) {
    .card .imgContainer {
        aspect-ratio: 4/1;
    }
}

@media (min-width:800px) {
    .card {
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
    }

    .card .info {
        width: 100%;
        height: 100%;
    }

    .card .imgContainer{
        flex-basis: 30%;
        aspect-ratio: 2/4;
        flex-shrink: 0;
    }
}