.flex-container {
    width:400px;
    padding: 1em;
    border: 2px solid blue;
    display: flex;
}

.flex-item {
    background: #eee;
    padding:30px;
    border: 2px solid #000;
}

.flex-container#two > div:nth-child(1){
    order: 5;
}

.flex-container#two > div:nth-child(2){
    order: 3;
}

.flex-container#two > div:nth-child(3){
    order: 1;
}

.flex-container#two > div:nth-child(4){
    order: 6;
}

.flex-container#two > div:nth-child(5){
    order: 2;
}

.flex-container#two > div:nth-child(6){
    order: 4;
}
