*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.banner {
    position: relative;
    height: 600px;
    overflow: hidden;

}

.banner img {
    width:100%;
    height:100%;
    object-fit: cover;
}

.textContainer {
    text-align: center;
    color: white;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.textContainer h1 {
    font-weight: bold;
    padding: 20px;
    font-size: 45px;
}

.textContainer p {
    font-size: 30px;
}