/* 
Purple: #6C4ACF (used for headers, buttons, and backgrounds)
Dark Blue: #23223A (used for footer and some background sections)
White: #FFFFFF (main background and text)
Light Gray: #F5F5F5 (backgrounds and section separators)
Black: #000000 (text and icons)
Accent Blue: #3B4CA6 (links and highlights)
*/

:root {
    --clr-purple: #6C4ACF;
    --clr-darkblue: #23223A;
    --clr-white: #FFFFFF;
    --clr-lightgray: gray;
    --clr-black: #000000;
    --clr-accentblue: #3B4CA6;
}

.maxedContent {
    display: block;
    max-width:1600px;
    margin: 0 auto;
}

.header .nav {
    display: none;
}

.header {
    background-color: var(--clr-white);
    padding: 0.75rem 1rem;
    box-shadow: 0 8px 20px rgba(35,34,58,0.12);
    position: sticky;
    top: 0px;
    z-index: 100;
}

.header .content {
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .menuBtn {
    background-color: transparent;
    border: none;
    font-size: 2rem;
}

.header .nav.open {
    background-color: var(--clr-white);
    display: block;
    position:absolute;
    top:100%;
    left:0;
    width:100%;

    padding:1rem;
        box-shadow: 0 8px 20px rgba(35,34,58,0.12);
}

.header .nav .list{
    display: flex;
    flex-direction: column;
    gap:1rem;
    text-align: center;
    text-transform: uppercase;
}

.header .nav .list .link {
    text-decoration: none;
    color:var(--clr-black);
    transition: color 300ms ease-in-out;
}

.header .nav .link.btn {
    background-color: var(--clr-purple);
    padding: 0.75rem 1.5rem;
    color: var(--clr-white);
    border-radius: 0.75rem;
    transition: all 300ms ease-in-out;
}

.hero {
    padding: 3rem 1rem;
}

.hero .img {
    width: 100%;
    max-width: 400px;
    display: block;
    margin: 0 auto 2rem;
}

.hero .info {
    max-width: 500px;
    margin: 0 auto;
}

.hero .info .title {
    margin-bottom: 2rem;
    text-align: center;
}

.hero .info .desc {
    margin-bottom: 0.75rem;
}

.hero .info .note {
    font-style: italic;
    font-size: 0.75rem;
    color: var(--clr-lightgray);
}

.hero .info .note2{
    margin-top: 0.5rem;
}

.hero .info .award {
    display: none;
}

@media (hover:hover) {
    .header .nav .link:hover {
        color: var(--clr-purple);
    }

    .header .nav .link.btn:hover {
        color:var(--clr-white);
        background-color: var(--clr-accentblue);
    }
}

@media (min-width:1120px) {
    .header .nav.open,
    .header .nav{
        width: auto;
        display:block;
        position:unset;
        box-shadow: none;
    }
    .header .menuBtn {
        display: none;
    }
    .header .nav .list {
        flex-direction: row;
    }

}

@media (min-width:768px) {
    .hero {
        padding:3rem 2rem;

        align-items: center;
        gap:2rem;
        max-width: unset;
    }
    .hero .img{
        width: 300px;
        order:1;
        flex-shrink: 0;
    }
    .hero .info {
        max-width: unset;
        margin: unset;
        flex-grow: 1;
    }
    .hero .info .title {
                text-align: left;
    }
}

@media (min-width:1024px) {

        .hero .content {
        display: flex;
        flex-direction: row;
        gap:2rem;
    }
    .hero .img{
        width: 400px;

    }

    .hero {
        padding: 3rem 4rem;
    }

}

.generic .content{
    padding:3rem 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.generic .img {
    max-width: 400px;
    width: 100%;
}

.generic .content .info {
    display: flex;

    flex-direction: column;
    gap:1rem    
}

.generic.cpe{
    background-color: var(--clr-darkblue);
    color: var(--clr-white);
}

.generic.inverted .link {
    text-decoration: none;
    color: var(--clr-purple);
    border: 1px solid var(--clr-purple);
    width:175px;
    font-size: 0.75rem;
    padding:0.75rem;
    text-align: center;
    border-radius: 2.5rem;
}

@media (min-width:768px) {
    .generic .content {
        padding: 3rem 2rem;
    }
}

@media (min-width: 1024px) {
    .generic .content {
        margin: 0 auto;
        max-width:1600px;
        padding: 3rem 4rem;
        flex-direction: row;
    }

    .generic .info {
        text-align: left;
    }
    .generic.inverted .info {
        order: 1;
    }

    .generic.cpe .img{
        position: relative;
        bottom: -80px;
    }
} 