html {
    font-size: 16px;
    line-height: 1.5;
    font-family: Helvetica, sans-serif;
}

p, ol, ul {
    padding-bottom: 1.5rem;
}

ol, ul {
    padding-left: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-family: Georgia;
}

table {
    width:100%;
    border-collapse: collapse;
    font-size: 16px;
    margin-bottom: 20px;

}
th, td {
    border:1px solid gray;
    text-align: left;
    padding: 12px 15px;
}

thead{
    background-color: gray;
}

tbody tr:nth-child(even) {
    background-color: rgb(190, 190, 190);
}

table{
    border: 2px solid gray;
}

th {
    font-weight: bold;
}

blockquote {
    padding-left: 30px;
    padding-top: 15px;
    border-left: 4px solid rgb(182, 180, 180);
    font-style: italic;
}

blockquote p:last-child {
    text-align: right;
}