*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.mission-objectives {
    background-color: #171720;
    display: flex;
    gap: 2rem;
    padding: 3rem 6rem;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #fce8b2;
}

.mission-objectivesCont{

    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.title {
    color: #fce8b2;
}

.text {
    color: #e9d7a5;
}

.mission-objectivesCont .more {
    align-self: flex-start;
    padding: 0.5rem 0.75rem;
    background-color: #171720;
    border: 1px solid #b0825c;
    color: #b0825c;
    font-size: 12px
}

.partners {
    background-color: #171720;
}

.partners .icons {
    display: flex;

}

.icons .icon {
    width: 20%;
    height: auto;
}