div {
    margin:10px;
    padding:10px;
    border: 2px solid black;
}

.fixed {
    width:300px;
}

.percentage{
    width:50%;
}

.viewport{
    width: 50vw;
}

.min-max{
    min-width: 100px;
    max-width: 300px;
}