.flex-container {
    width:400px;
    height:400px;
    padding: 1em;
    border: 2px solid blue;
    display: flex;
    align-items: flex-start;
}

.flex-item {
    background: #eee;
    padding:30px;
    border: 2px solid #000;
}

.flex-container#one > div:nth-child(2){
    align-self: flex-start;
}

.flex-container#two > div:nth-child(2){
    align-self: center;
}

.flex-container#three > div:nth-child(2) {
    align-self: flex-end;
}

.flex-container#four > div:nth-child(2){
    align-self: baseline;
}