* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
    list-style: none;
}

.mainContainer {
    padding: 2rem;
}

.buttons {
    border:1px solid gray;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
    padding: 1rem;
    background-color: lightgray;
    display: flex;
    gap: 1rem;
    max-width: 1100px;
    width: 100%;
    border-radius: 10px;
}

.buttons li {
    background-color: white;
    padding: 0.75rem;
    border-radius: 5px;
    border: 1px solid gray;
    color: rgb(247, 88, 8);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);

}