*, *:after, *:before {
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 1rem;
}

.table {
    background-color: white;
    width: 80%;
    border:1px solid rgb(196, 196, 196);
    box-shadow: 0 20px 40px rgba(113, 113, 113, 0.45), 0 6px 12px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.table .mainTitle{
    padding: 1rem;
    font-size: 1.5rem;
}

.container{
    border-top:2px solid black;
    /* padding: 1rem; */
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
}

.container .subcontainer {
    display: flex;
    gap: 1rem;
    padding: 0.5rem;
}

.subcontainer .title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 30%;
    font-weight: 900;
    font-size: 0.75rem;
}

.subcontainer .value {
    font-size: 0.75rem;
}

.subcontainer:nth-child(2){
    border-top:1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

@media (min-width:800px){
    .container:nth-child(2) .subcontainer .title {
        display: none;
    }
    .container:nth-child(3) .subcontainer .title {
        display: none;
    }
}
