* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.mainContainer {
    background-color: lightgray;
    padding: 1rem;
    display: flex;
    max-width: 1100px;
    width: 100%;
    flex-wrap: wrap;
    gap:1rem;
    justify-content: center;
}

.mainContainer .frame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 200px;
    aspect-ratio: 3/2;
    background-color: white;
    border: 4px solid black;
    box-shadow: 0 4px 16px rgba(0,0,0,0.15);

}

.mainContainer .frame .imgContainer img{
    width:100%
    ; /* Fix missing semicolon */
    box-shadow: 0 4px 16px rgba(0,0,0,0.15);
}

.mainContainer .frame .imgContainer{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    padding: 0.75rem;
}

.mainContainer .frame p {
    padding: 0 0 0.75rem 0.75rem;
    font-size: smaller;
    font-style: italic;
    color: gray;
}