.flex-container {
    display: flex;
    padding:20px;
    border: 2px solid blue;
    width:400px;
    height: 200px;
    flex-wrap: wrap;
    align-items: flex-start;
}

.flex-item {
    padding:20px;
    border: 2px solid black;
    background-color: gray;
}

.flex-container#two {
    align-content: center;
}

.flex-container#three {
    align-content: flex-end;
}

.flex-container#four {
    align-content: space-between;
}

.flex-container#five {
    align-content: space-around;
}