.flex-container {
    width:300px;
    padding: 1em;
    border: 2px solid blue;
    display: flex;
    align-items: flex-start;
}

.flex-item {
    background: #eee;
    padding:30px;
    border: 2px solid #000;
    flex-basis: 300px;
}

.flex-container#two > div{
    flex-shrink: 0;
}

.flex-container#three > div{
    flex-shrink: 0;
}

.flex-container#three > div:nth-child(2) {
    flex-shrink: 1;
}