div {
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
}

.fixed {
    height: 200px;
}

.percentage {
    height: 50%;
}

.viewport {
    height: 50vh;
}

.min-max {
    min-height: 100px;
    max-height: 300px;
}