*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

main {

    border: 2px solid green;
    padding: 2em;
}

.mainContainer {
    border: 2px solid blue;
    padding: 2em;
    max-width: 70ch;
    margin: 0 auto;

}

.mainContainer > div {
    border: 2px solid black;
    padding:2em;
    text-align: center;
 

}

.mainContainer > div:not(:first-child){
    margin-top: 2em;
}