*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container {
    width:400px;
    padding: 1em;
    border: 2px solid blue;
    display: flex;
}

.flex-item {
    background: #eee;
    padding:30px;
    border: 2px solid #000;
}