* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.mainContainer {
    display: flex;
    background-color: lightgray;
    padding: 4rem 3rem;
    gap: 2rem;
}

.quoteContainer {
    gap:1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding:2rem 1.5rem;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.12);
    border-radius: 12px;
}

.quoteText {
    display: flex;
    flex-direction: column;
    gap:1rem;
}

.quoteText .quote {
    font-size: 3rem;
}

.quoteText .info {
    color: gray;
    font-size: 0.75rem;
}

.quoteText .name {
    font-weight: bolder;
}

.quoteContainer .avatarContainer {
    display: flex;
    border-radius: 100%;
    border: 5px solid white;
    justify-content: center;
    background-color: rgb(175, 244, 168);
    align-items: center;
    box-shadow: 0 10px 24px 15px rgba(0, 0, 0, 0.12);
    max-width: 140px;
    width: 100%;
    aspect-ratio: 1/1;
}

.quoteContainer .avatarContainer .user {
    font-size: 60px;
    padding: 1rem;
}

.horizontalBox {
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

.verticalBox {
    display: flex;
}

.verticalBox .quoteContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.verticalBox .quoteContainer .quoteText{
    display: flex;
    flex-grow: 1;
}

.verticalBox .quoteContainer .avatarContainer{
    align-self: center;
}

