*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding:40px
}

div {
    display: inline-block;
    background-color: rgb(199, 249, 176) ;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    border-radius: 50%;
    margin: 0 5px;
    font-size: 20px;
    text-decoration: none;

}

div a {
    color: black;
    transition: background 0.5s, color 0.3s;
}

div a:hover {
    color:coral;
}

h1 {
    margin-bottom: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}