html {
    font-family: 'Lato', sans-serif;
    padding: 15px;
}
main article {
    margin: 0 auto;
    display: block;
    padding: 20px;
    max-width: 600px;
    border: 2px solid black;

}
.title > h1 {
    padding-bottom: 15px;
}

.content p:nth-child(2) {
    padding: 20px 0;
}

.content h3 {
    padding-top: 40px;
}

h3 + p {
    padding: 20px 0;
}

footer p {
    padding:30px 0;
}


.family {
    font-family: Arial, Helvetica, sans-serif;
}

.size {
    font-size: 24px;
}

.weight {
    font-weight: bold;
}

.style {
    font-style: italic;
}

.variant {
    font-variant: small-caps;
}