.flex-container {
    display: flex;
    padding:20px;
    border: 2px solid blue;
    width:400px;
    height: 200px;
}

.flex-item {
    padding:20px;
    border: 2px solid black;
    background-color: gray;
}

.flex-container#two{
    align-items: flex-start;
}

.flex-container#three {
    align-items: center;
}

.flex-container#four {
    align-items: flex-end;
}

.flex-container#five {
    align-items: baseline;
}