div {
    width:300px;
    height:200px;
    padding:10px;
    border: 2px solid black;
    margin:50px;
}

.visible {
    overflow: visible;
}

.hidden {
    overflow: hidden;
}

.scroll {
    overflow: scroll;
}