*, *::before, *::after {
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

div {
    max-width:800px;
    margin:0 auto;
    padding:30px 20px;
}

summary {
    font-weight: bold;
}
details:nth-child(1) {
    padding: 15px;
    border-top: 2px solid gray;
    border-left: 2px solid gray;
    border-right: 2px solid gray;
}

details:nth-child(2) {
    padding: 15px;
    border: 2px solid gray;
}

details:nth-child(3) {
    padding: 15px;
    border-bottom: 2px solid gray;
    border-left: 2px solid gray;
    border-right: 2px solid gray;
}

p {
    padding:5px;
}

summary {
  list-style: none;        /* removes default marker in Firefox */
  cursor: pointer;
}

summary::-webkit-details-marker {
  display: none;           /* removes default marker in Chrome/Safari */
}

/* Add custom arrow */
summary::before {
  content: "➡️";            /* closed state */
  display: inline-block;
  margin-right: 0.5em;
  transition: transform 0.3s;
}

/* Rotate arrow when open */
details[open] summary::before {
  transform: rotate(90deg);
}