*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
        font-family: "Space Mono";
}

body {


    background-color: lightgray;
        display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

.img {
    height: 6rem;
    width: auto;
    border: 4px solid white;
    outline: 4px solid black;
    position: absolute;
    top: 7rem;
    left: 50%;
    transform: translateX(-50%);
}

.card {
    width:25%;
    height: 60%;
    margin: auto;
    background-color: white;


    border: 3px solid black;
    border-radius: 0.80rem;
    box-shadow: 6px 7px 0 black;
      overflow: hidden;

}

.card .top {
    background-color: red;
    width: 100%;
    height:10rem;
    padding: 2rem 0;
    border-bottom: 3px solid black;
    position: relative;
        

}

.card .center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 4rem 1.5rem 1.5rem 1.5rem;
}


.card .center .info {
    background-color: rgb(226, 226, 226);
    padding: 1rem 0;
    border: dashed 2px black;
    text-align: center;
}

.card .center .info p{
    margin: auto;
    font-size: 14px;
    width: 95%;
}

.card .center .view {
    background-color: #138f35;
    padding: 0.5rem;
    border: 2px solid black;
    box-shadow: 4px 4px 0 black;
    color: white;
    width: 9rem;
    font-size: 1rem;
    font-weight:900;
}
