*, *:after, *:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: lightgray;
    padding: 4rem 3rem;
}

.container {
    text-align: left;
    height: 500px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(128,128,128,0.35);
}

.img {
    border: 0.25rem solid white;
    border-radius: 50%;
    width: 100%;
    max-width: 250px;
    box-shadow: 0 8px 20px rgba(128,128,128,0.35);
}

.info {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.info .quote {
    font-size: 40px;
}

.info .name {
    padding-top: 1rem;
}

.info .mainInfo {
    color: gray;
    font-size: 0.75rem;
}

.firstHalf {
    display: flex;
    flex-direction: column;
    gap:1rem
}

body {
    display: flex;
    flex-direction: column;
    gap:1rem;
}

@media (min-width:600px) {
    .container {
        flex-direction: row;
        height: unset;
    }

    .img {
        width: 30%;
    }

}

@media (min-width:800px) {
    body {
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
    }

    .secondHalf {
        max-width: 400px;
        width: 100%;
    }

    .secondHalf .container{
        flex-direction: column;
        height: 100%;
        justify-content: stretch;
        align-items: start;
    
    }

    .secondHalf .container .img {
        width: 60%;
        aspect-ratio: 1/1;
        object-fit: contain;
    }


}