.flex-container {
    width:400px;
    padding: 1em;
    border: 2px solid blue;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.flex-item {
    background: #eee;
    padding:30px;
    border: 2px solid #000;
}

.flex-container#one{
    flex-grow: 0;
}

.flex-container#two > div{
    flex-grow: 1;
}

.flex-container#three > div:nth-child(2){
    flex-grow: 1;
}

.flex-container#four > div:nth-child(1){
    flex-grow: 1;
}

.flex-container#four > div:nth-child(2){
    flex-grow: 2;
}

.flex-container#four > div:nth-child(3){
    flex-grow: 3;
}