*, *:after, *:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: lightgray;
    padding: 2rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: auto;
}

.card {
    width: 100%;
    max-width: 1100px;
    padding: 1rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(128,128,128,0.25);
    position: relative;
}

.card .number {
    background-color: orange;
    padding: 1rem;
    width: 70px;
    text-align: center;
    color: white;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: -6px 6px 12px rgba(128,128,128,0.35);
    font-weight: bold;
    position:absolute;
    top:0;
    right: 0;
}

.card .info {
    display: flex;
    flex-direction: column;
    gap:0.5rem
}

.info .title {
    font-size: 1rem;
}

.info .text {
    font-size: 0.70rem;
}

@media (min-width:800px) {
    body {
        padding:6rem;
        flex-wrap: wrap;

        height: 100vh;

    }
    .card {
    
        max-width: 400px;
        width: 50%;
        height: 130px;
    }
}