.flex-container {
    width:400px;
    padding: 1em;
    border: 2px solid blue;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.flex-item {
    background: #eee;
    padding:30px;
    border: 2px solid #000;
}

.flex-container#one{
    gap: 2em 0;
}

.flex-container#two {
    gap: 0 2em;
}

.flex-container#three {
    gap: 2em;
}