/* TO DO... */

@media screen and (max-width: 600px) {

    .home-features {
        height: auto;
        
    }
.home-cta-btn {
    padding-left: 20px;
    padding-right: 20px;
    font-size:15px;
}

.home-links-container {
    flex-grow: 1;
    justify-content: center;
}

.home-heading-container{
    width: 95%;
}

.home-cards-container {
    flex-direction: column;
    align-items: center;
}

.home-cards-container .home-feature-card {
    align-self: center;
}

.home-feature-card img, .home-feature-card1 img, .home-feature-card2 img {
    width:420px;
    height:auto;
}

.home-feature-card,
.home-feature-card1,
.home-feature-card2 {
    width:100%;
    padding-bottom: 48px;
}

.home-stats {
    display: flex;
    flex-direction: column;
}

.home-hero {
    flex-direction: column-reverse;
}

.home-image1 {
    width: 100%;
}

.home-hero-text-container {
    padding: 2rem;
    align-items: center;
    margin: 0;
    width: 98%;
}

.home-cta-btn2 {
    align-self:unset;
    padding: 16px;
}
}