*, *:after, *:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}


body {
    background-color: lightgray;
    padding:2rem;
}

.header {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    border-radius: 10px;
}


.btn {
    padding: 1rem;
    border: none;
}

.title, .open {
    display: none;
}

.nav .list .item{
    background-color: gray;
    padding-left: 1em;
    display: block;
    margin-bottom: 1px;
}

.nav .l{
    margin-bottom: 1px;
}